* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 16px;
}

/* 
    px - pixels
    em
    rem
*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.brand {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: rgb(19, 18, 18);
}

.header-link {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(19, 18, 18);
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  /* transition: color ease 0.5s, opacity ease 0.5s; */
  opacity: 0.8;
}

.header-link:hover,
.header-link:focus {
  color: rgb(32, 29, 29);
  opacity: 1;
}

.header-left .header-link {
  padding-right: 1rem;
}

.header-right .header-link {
  padding-left: 1rem;
}

/* Typography */
