* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 16px;
  min-width: 300px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.brand {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: rgb(19, 18, 18);
}

.header-link {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(19, 18, 18);
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  opacity: 0.8;
}

.header-link:hover,
.header-link:focus {
  color: rgb(32, 29, 29);
  opacity: 1;
}

.header-left .header-link {
  padding-right: 1rem;
}

.header-right .header-link {
  padding-left: 1rem;
}

.header-left,
.header-right {
  display: none;
}

.header-menu {
  color: rgb(19, 18, 18);
  opacity: 0.5;
  padding: 5px;
  font-size: 1.3rem;
}

.header-menu:hover,
.header-menu:focus {
  cursor: pointer;
  color: black;
}

/* intro */
.intro {
  text-align: center;
  width: 90%;
  max-width: 850px;
  padding: 4rem 0 4rem 0;
}

.intro h1 {
  font-weight: 300;
  font-family: "Ibarra Real Nova", serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* hero image */
.hero-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

/* sidebar navigation */
#side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(222, 222, 222, 0.9);
  z-index: 2;
  /* animation: slideInUp 2000ms forwards; */
  animation: fromBottom 0.5s forwards;

  display: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  list-style: none;
  height: 100%;
  /* animation: slideInUp 2000ms forwards; */
}

.nav-list li {
  padding: 0.8rem;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
}

@keyframes fromBottom {
  0% {
    opacity: 0.1;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav-link:hover,
.nav-link:focus {
  opacity: 0.7;
}

.close-popup {
  margin-top: 0.8rem;
}

/* media queries */
@media (min-width: 700px) {
  .intro h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .header-link {
    font-size: 1.1rem;
  }
  .brand {
    font-size: 1.5rem;
  }
}

@media (min-width: 960px) {
  .header-left,
  .header-right {
    display: block;
  }

  .header-menu {
    display: none;
  }
  .intro {
    padding: 5rem 0 5rem 0;
  }
  .intro h1 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}
